target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# The following could be commented out in future if we wanted to track common results/configs for testing etc.
# However, for now it is probably best we keep the stored data local.
# Ignore all simulation results
data/results/*.json

# Keep the folder but ignore personal temp configs
data/configs/*.json